body{
	font-family: '微软雅黑';
	/*height: 10000px;*/
	margin:0;
	min-width: 640px;
	/*background:#7777F5;*/

}
.content{
	position: relative;
	width: 630px;
	height: 615px;
	padding-top:15px; 
	margin: 0 auto;
	border-radius: 20px;
	background: #935927;
}
#wureplay{
	display: inline-block;
	padding: 5px 20px;
	position: absolute;
	right: -168px;
	top: 150px;
	color:white;
	border-radius: 30px;
	background: rgba(0,0,0,0.5);
	cursor: pointer;


}
#wustart{
	display: inline-block;
	padding: 5px 20px;
	position: absolute;
	right: -136px;
	top: 100px;
	border-radius: 30px;
	background: rgba(0,0,0,0.5);
	color:white;
	cursor: pointer;
}
/*#wupause{
	display: inline-block;
	padding: 5px 20px;
	position: absolute;
	right: 63px;
	top: 150px;
	color:white;
	border-radius: 30px;
	background: rgba(0,0,0,0.5);
}*/
#wu-scene{
	width: 600px;
	height: 600px;
	background:url(../images/bg.png); ;
	border-radius: 10px;
	margin: 0 auto;
	border-left:1px solid #935927;
	border-top:1px solid #935927;
	position: relative;
	
}
.block1{
	margin:0 1px 1px 0;
	-webkit-transform:scale(0.9,0.9);
	border-radius: 50%;
	float: left;
	/*background: black;
	opacity: 0.5;*/
}
.hengxian{
	width: 600px;
	border-top:2px solid #6a3a09;
	border-bottom:2px solid #ffdcb2;
	position: absolute;
	left: 0;
}
.shuxian{
	border-right:2px solid #ffdcb2;
	border-left: 2px solid #6a3a09;

	height:600px;
	position: absolute;
	top:0;
}
.win{
	height:40px;
	padding: 0 20px 0 20px;
	border-radius: 10px;
	position: absolute;
	top:30px;
	left:125px;
	font-size: 16px;
	line-height: 40px;
	display: inline-block;

}
.zhe{
	width: 400px;
	height:200px;
	position: absolute;
	z-index: 199;
	background: rgba(0,0,0,0.8);
	top:200px;
	left:100px;
	text-align: center;
	line-height: 170px;
	font-size: 3em;
	color: #ccc;
	border-radius: 10px;
	display: none;
}
.re{
	width: 100px;
	height:40px;
	position: absolute;
	left: 150px;
	bottom:30px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 40px;
	cursor:pointer;
	background: rgba(0,0,0,0.5);

}